body{
    background: hotpink;
    width: 100%;
    text-align: center;
}
table{
    border-collapse: collapse;
    margin:auto;
}
table, td, th{
    border: 1px solid #333;
}
td, th{
    padding: 10px;
}
.card{
    font-size: 3em;
    padding: 50px;
}
button, input {
    margin: 5px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: aliceblue;
}
input:focus, button:focus{
    outline: none;
    background-color: aqua;
}

.clear{
    clear: both;
}